body{
    background-color: rgba(0, 0, 0, 0.685);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
h1{
    text-shadow: seagreen 2px 2px 3px;
}
p{
    text-shadow: seagreen 2px 2px 3px;
}
iframe {
    box-shadow: seagreen 1px 1px 10px 5px;
}