@charset "UTF-8";

/* Estilo para telas */

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

header {
    background-color: #DB951A;
}

header>h1 {
    text-align: center;
}

menu ul {
    list-style-type: none;
    background-color: #EBA01D;
}

menu li {
    background-color: #C28317;
    color: #ffffff;
    display: inline-block;
    padding: 10px;
}

article {
    display: block;
    margin: auto;
    width: 600px;
}